﻿p {
    @media screen and (max-width: $screen-sm-max) {
        /*font-size:1.8em;*/
        padding: 0;
    }
}

a {
    cursor: pointer;
}

.no-padding {
    padding: 0;
}

.float-left {
    float: $right;
}

.elal-blue {
    color: $mfe-elal-main-color;
}

.policy-text {
    padding: 20px 0;
}

.cupoun-name-title {
    padding-#{$left}: 40px;
}

.client-name-title {
    position: absolute;
    #{$right}: 24px;
}

.first-arrow-basket {
    float: #{$right};
}

.breadcrumb {
    padding-right: 0;
    padding-left: 0;
    background-color: #fff;

    @media screen and (max-width: $screen-sm-max) {
        display: none;
    }
}

.btn-elal {
    height: 33px;
    width: 90px;
    background-color: $mfe-elal-main-color;
    color: #fff;

    &:hover {
        color: #fff;
    }
}

.coupons-page {
    .page-title {
        padding-bottom: 0;
    }

    @media screen and (max-width: $screen-sm-max) {
        font-size: 16px;
        padding: 0 2%;
    }

    .top-basket {
        // margin-bottom: 40px;
        h1 {
            color: $mfe-elal-main-color;
            margin-bottom: 0;
        }

        p {
            padding-top: 32px;
        }

        .paragraph {
            padding-top: 0;
        }

        .back-btn {
            color: $mfe-elal-second-color;
            font-size: 20px;
            border: none;
            padding: 12px 0;

            @media screen and (max-width: $screen-sm-max) {
            }

            &:after {
                content: "\003e";
                /* width: 20px; */
                /* height: 20px; */
                font-size: 20px;
                color: #fff;
                background-color: #3c528f;
                border-radius: 50%;
                font-size: 15px;
                border-radius: 50%;
                /* padding: 2px 8px; */
                padding-right: 8px;
                padding-left: 8px;
                padding-top: 4px;
                padding-bottom: 4px;
                background-color: $mfe-elal-second-color;
                margin-#{$left}: 10px;
            }

            &:hover, &:active {
                background-color: transparent;
            }
        }

        .basket-div {
            padding-top: 20px;
            float: left;

            span {
                position: absolute;
                top: 84px;
                left: 17px;
                font-sizE: 12px;
            }
        }

        .active-basket {
            &:before {
                content: "2";
                background-color: $mfe-elal-second-color;
                color: #fff;
                display: block;
                height: 20px;
                width: 21px;
                border: 1px solid #fff;
                border-radius: 50%;
                position: absolute;
                left: 40px;
                top: 57px;
                padding: 0 5px 0 0;
                font-size: 1em;
            }
        }

        select {
            height: 40px;
            border-#{$right}: none;
            border-#{$left}: none;
            color: #6f7071;
            font-size: 1.2em;
            border: 1px solid $mfe-elal-select-border;
            background-color: #fff;
            margin-top: 20px;
        }
    }

    .btn-ico {
        background-color: transparent;
        color: $mfe-elal-second-color;
        font-size: 14x;
        border: none;
        padding: 0;
        display: inline-block;
    }

    .icon-cart {

        &:before {
            //float:#{$right};
            // padding-top: 20px;
            //font-size: 40px;
            position: relative;
            //#{$left}: 32px;
        }
    }

    .icon-text {
        text-align: center;
        font-weight: bold;

        @media screen and (max-width: $screen-sm-max) {
            font-size: 12px;
        }
    }

    section.lobby-voucher-slider .voucher-title-wrapper .icon-wrapper .wrapper-basket {
        //left: 57px;
        //top:36px !important;
    }

    section.lobby-voucher-slider .voucher-title-wrapper h1 {
        font-size: 45px;
    }

    section.lobby-voucher-slider .voucher-title-wrapper .icon-wrapper {
        //  margin-#{$right}:40px;
    }

    .send-modal {
        .modal-dialog {
            width: 360px;
        }
    }

    .payment-container {
        display: flex;
        justify-content: space-between;

        .payment-sum {
            flex-grow: 2;
        }

        .details-icons {
            flex-grow: 1;
        }
    }

    section.lobby-voucher-slider {
        padding-top: 0;
    }

    .voucher-icons-wrapper {
        @media screen and (min-width: $screen-md-min) {
            position: relative;
            #{$right}: -14px;
        }
    }

    .icon-print {
        font-size: 16px;
    }
}

.basket-ico {
    background-image: url('../images/shopping_cart.png');
    height: 54px;
    background-repeat: no-repeat;
}

.panel-cupons {

    @media screen and (max-width: $screen-sm-max) {
        /*background-color: #e6e6e8;*/
    }

    .float-left {
        button {
            &:last-child {
                margin-#{$left}: 13px;
                margin-#{$right}: -34px;
            }
        }
    }
}

.cupons-mobile {

    div {
        @media screen and (max-width: $screen-sm-max) {
            background-color: #e6e6e8;
            padding-top: 10px;
        }
    }
}

.cupons-row {
    border-bottom: 3px solid #f2f2f2;
    padding: 20px 5px;

    @media screen and (min-width: $screen-md-min) {
        width: 100%;
        margin: 0 auto;
    }

    @media screen and (max-width: $screen-sm-max) {
        [class*="col-"] {
            min-height: 40px;
        }
    }

    .terms-link {
        display: inline-block;
        width: 120px;
        text-decoration: underline;
        position: relative;
        #{$left}: 35px;
        color: $mfe-elal-second-color;

        @media screen and (max-width: $screen-sm-max) {
            display: none;
        }
    }

    div > div {
        @media screen and (max-width: $screen-sm-max) {
            // padding: 10px 10px 0 0;
        }
        //  padding: 20px 5px;
        //   word-break: break-all;
    }

    .read-more-link {
        text-align: #{$right};
        cursor: pointer;

        @media screen and (max-width: $screen-sm-max) {
            margin-bottom: 25px;
        }
    }
}

.title-row {
    background-color: $mfe-elal-second-color;
    color: #fff;
    border-radius: 4px;
    padding-top: 2px;
    //padding-bottom: 32px;
    min-height: 29px;
    width: 100%;
    margin: 0 auto;

    div {
        font-weight: bold;
        letter-spacing: -0.2px;
        padding: 5px 3px;
    }

    .glyphicon-triangle-bottom {
        color: #fff;
        display: inline;
        font-size: 9px;
        padding-#{$left}: 5px;
    }

    @media screen and (max-width: 992px) {
        display: none;
    }
}

.coupons-remark {
    padding-top: 20px;
    font-size: 12px;
    font-weight: bold;
}

.coupons-modal {
    width: 600px;
    color: #00013a;
    margin-bottom: 100px;

    .heading-section {
        padding: 15px;

        .logo {
            float: #{$left};
        }

        .issue-date {
            float: #{$right};
        }
    }

    .data {
        font-weight: bold;
        font-size: 16px;
    }

    .member-section {
        display: table;
        width: 100%;
        table-layout: fixed;
        padding: 15px 20px;
        background-color: #eeeeee;

        .reference, .member-details, .barcode {
            display: table-cell;
            vertical-align: middle;
            padding: 0 10px;
        }

        .reference {
            width: 20%;
            border-#{$right}: 1px solid #cccccc;
        }

        .barcode {
            width: 40%;
            text-align: #{$right};
        }
    }

    .coupon-section {
        width: 100%;
        position: relative;
        display: table;

        .coupon-details {
            /*float: #{$left};*/
            width: 65%;
            display: table-cell;
            vertical-align: top;
            position: relative;
            padding: 15px;

            &:after {
                content: "";
                position: absolute;
                top: 25px;
                #{$right}: -10px;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 10px 10px 10px 0;
                border-color: transparent #ffffff transparent transparent;
            }

            .coupon-values {
                display: table;
                position: absolute;
                /*width: 65%;*/
                bottom: 0;
                table-layout: fixed;
                padding: 15px;
                #{$right}: 0;

                .validity,
                .coupon-points,
                .coupon-value {
                    display: table-cell;
                }

                .coupon-points {
                    text-align: #{$right};
                    padding: 0 10px;
                    border-#{$right}: 1px solid #b6b6b6;
                }

                .coupon-value {
                    padding: 0 10px;
                }

                .validity {
                    width: 48%;
                }
            }
        }

        .coupon-img {
            /*float: #{$right};*/
            display: table-cell;
            width: 35%;

            img {
                width: 100%;
            }
        }
    }

    .instruction-section {
        background-color: #eeeeee;
        display: table;
        padding: 20px;

        .conditions {
            display: table-cell;
            vertical-align: middle;
            width: 60%;
            padding: 10px;
        }

        .map {
            display: table-cell;
            vertical-align: middle;
            width: 40%;
            padding: 10px;
            text-align: #{$right};
        }
    }

    .bottom-section {
        background-color: #eeeeee;
        padding: 20px;

        .btn {
            float: #{$left};
            color: #fff;
            font-size: 18px;
            background-color: #02013b;
            height: 45px;
            padding-left: 20px;
            padding-right: 20px;

            .text {
                padding-#{$left}: 10px;
            }
        }

        .address {
            float: #{$right};
        }
    }
}

.coupon-disabled {
    color: #777;

    .payment-container {
        .details-icons {
            div {
                visibility: hidden;
            }
        }
    }
    /*
  .details-icons {
    button {
      display: none;
    }
  }
  .details-icons button, .details-icons a {
    display: none;
  }*/
}

.print-note {
    position: relative;
    top: 0px;
    font-size: 14px;
}

@media screen and (min-width: $screen-md-min) {
    .name {
        width: 12%;
    }

    .coupon-name {
        width: 16%;
    }

    .conf {
        width: 10%;
    }

    .id {
        width: 13%;
    }

    .coupon-date {
        width: 8%;
    }

    .points {
        width: 8%;
    }

    .payment {
        width: 15%;
    }

    .expiar {
        width: 6%;
    }
}

.cpn-icon {
    #{$left}: 50px !important;
    top: 36px !important;
}

.cpn-icon-ltr {
    right: -8px !important;
    top: 36px !important;
    left: auto !important;
}

.check-wrapper {
    float: #{$left};
    width: 14.2%;
    position: absolute;
    #{$left}: 5px;

    @media screen and (max-width: $screen-md-max) {
        width: 100%;
        float: none;
    }

    @media screen and (max-width: 1260px) {
        position: relative;
        width: 100%;
    }
}

.input-group {
    display: inline-flex;
    flex-direction: row-reverse;

    [class^='icon-'] {
        padding: 0 .5rem;
    }
}

.error-notify {
    display: inline-flex;

    .px-1 {
        padding: 0 .5rem;
    }

    &.alert {
        color: $mfe-elal-error;
    }
}

.modal-footer {
    text-align: #{$left};
}

.py-1 {
    padding: .5rem 0;
}

.py-2 {
    padding: 1rem 0;
}

.py-3 {
    padding: 1.5rem 0;
}

.py-4 {
    padding: 2.5rem 0;

    @media screen and (max-width: $screen-md-max) {
        padding: .5rem 0;
    }
}

.modal-backdrop {
    opacity: 0.7 !important;
}

/* utils */
.mfe-d-flex {
    display: flex;
}

.mfe-flex-column {
    flex-direction: column;
}

.categories-carousel {
    display: flex;
    white-space: nowrap;

    .items {
        overflow: hidden;
        flex-basis: 90%;

        .wrapper {
            direction: ltr;
        }

        .item {
            width: 120px;
            text-align: center;
            height: 108px;
            vertical-align: middle;
            background: #edf0f5;
            background: -webkit-linear-gradient(#ffffff, #edf0f5);
            background: -o-linear-gradient(#ffffff, #edf0f5);
            background: -moz-linear-gradient(#ffffff, #edf0f5);
            background: linear-gradient(#ffffff, #edf0f5);
            cursor: pointer;

            .voucher-slider-child {
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                border-bottom: 1px solid #ccc;
                border-top: 1px solid #ccc;
                border-right: 1px solid #ccc;

                &:hover {
                    .icon {
                        background-position-y: 0;
                    }
                }

                .icon {
                    background-position-y: -38px;
                    width: 38px;
                    height: 39px;
                }
            }
        }
    }

    .arrows {
        background: -webkit-linear-gradient(#ffffff, #edf0f5);
        background: -o-linear-gradient(#ffffff, #edf0f5);
        background: -moz-linear-gradient(#ffffff, #edf0f5);
        background: linear-gradient(#ffffff, #edf0f5);
        display: flex;
        flex-basis: 5%;
        font-size: 2rem;
        align-items: center;
        justify-content: center;
        border: 1px solid #ccc;
        cursor: pointer;

        .glyphicon-chevron-left {
            &::before {
                @if $alpha == "left" {
                    content: "\e080";
                }
            }
        }

        .glyphicon-chevron-right {
            &::before {
                @if $alpha == "left" {
                    content: "\e079";
                }
            }
        }
    }

    @media screen and (max-width: $screen-md-max) {
        .items {
            flex-basis: 100%;
            border-right: 1px solid #ccc;
            border-left: 1px solid #ccc;
        }

        .arrows {
            display: none !important;
        }
    }
}

#btnPoints {
    @media screen and (max-width: $screen-md-max) {
        flex-direction: row;
    }
}

#profile-header {
    color: $mfe-elal-main-color;

    h1 {
        font-size: 45px;
    }

    @media screen and (max-width: $screen-md-max) {
        flex-wrap: wrap;

        h1 {
            font-size: 36px;
        }

        #profile-icons {
            order: -1;
        }
    }
}

#profile-icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;

    @media screen and (max-width: $screen-md-max) {
        justify-content: flex-start;

        .icon-wrapper {
            margin-#{$right}: 15px;
        }
    }

    .icon-wrapper {
        font-family: Arial !important;
        display: inline-block;
        text-align: center;
        position: relative;

        &:hover {
            text-decoration: none;
        }

        .icon-point-wrapper {
            position: absolute;
            padding: 2px;
            background-color: #fff;
            border-radius: 14px;
            top: 18px;
            right: 0;

            .icon-point {
                background-color: #3c528c;
                padding: 2px 5px;
                border-radius: 10px;
                font-size: 12px;
                color: #fff;
                position: relative;
                bottom: 0px;
            }
        }

        .icon {
            height: 38px;
        }

        .icon-voucher {
            font-size: 37px;
        }

        .icon-cart {
            font-size: 39px;
        }

        &:hover {
            text-decoration: none;
        }
    }
}

#voucher-list {
    padding-top: 20px;
    color: $blue-text;

    .row {
        padding-bottom: 20px;
        display: flex;
        flex-wrap: wrap;

        [class^='col-'] {
            padding-bottom: 20px;
        }
    }

    img {
        width: 100%;
    }

    .voucher {
        justify-content: space-between;
        height: 100%;
        display: flex;
        flex-direction: column;

        .voucher-opacity {
            position: absolute;
            background-color: $opacity;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: 2;
            margin: auto;
            width: 100%;

            .opacity-content-wrapper {
                position: absolute;
                text-align: center;
                top: -109px;
                bottom: 22px;
                left: 0;
                right: 0;
                margin: auto;
                width: 130px;
                height: 70px;

                .glyphicon {
                    font-size: 27px;
                }

                .opacity-content {
                    font-weight: bold;
                }
            }
        }

        position: relative;

        .fly-card {

            @include gradient(#214aa6, #214aa6, #202c82);
            background-color: $blue-elali-background;
            padding: 8px 5px;
            position: absolute;
            @include left(0);
            color: #fff;

            .fly-card-color {
                color: $blue-elali;
            }
        }

        img {
            width: 100%;
            height: 250px;
        }

        .voucher-info-wrapper {
            background-color: $background-color-gray;
            border-top: 4px solid #fff;
            position: relative;
            flex-grow: 1;

            .arrow-up-border {
                width: 0;
                height: 0;
                border-left: 15px solid transparent;
                border-right: 15px solid transparent;
                border-bottom: 15px solid #fff;
                position: absolute;
                left: 58px;
                top: -19px;
            }

            .arrow-up {
                width: 0;
                height: 0;
                border-left: 15px solid transparent;
                border-right: 15px solid transparent;
                border-bottom: 15px solid #f2f2f2;
                position: absolute;
                left: 58px;
                top: -12px;
                z-index: 1;
            }

            .voucher-info {
                padding: 10px 0;
                margin: 0 15px;
                max-height: 85px;
                overflow: hidden;

                .title {
                    min-height: 45px;
                    display: inline-block;

                    .bold {
                        font-weight: bold;
                        font-size: 17px;
                    }
                }
            }

            .voucher-footer {
                border-top: 1px solid $border-color-gray;
                min-height: 75px;
            }

            .price-wrapper, .info-footer {
                padding: 10px 15px;
                // border-#{$right}:1px solid #e5e5e5;
                .price {
                    font-size: 27px;
                    font-weight: bold;

                    @media screen and (max-width: 776px) {
                        font-size: 22px;
                    }
                }

                .date {
                    float: $left;
                    font-size: 12px;
                    position: relative;

                    &.expierd::after {
                        content: "";
                        position: absolute;
                        border-left: 1px solid $mfe-elal-main-color;
                        #{$right}: 0;
                        height: 100%;
                        top: 0;
                        #{$right}: -9px;
                    }
                }

                .price-inner {
                    text-align: $right;
                }
            }

            .info-footer {
                float: $left;
            }
        }
    }
}

#head {
    padding-bottom: 20px;

    select {
        height: 40px;
        border-#{$right}: none;
        border-#{$left}: none;
        color: #6f7071;
        font-size: 1.2em;
        border: 1px solid $mfe-elal-select-border;
        background-color: #fff;
        margin-top: 20px;
    }
}
