@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?ifuf75');
  src:  url('fonts/icomoon.eot?ifuf75#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?ifuf75') format('truetype'),
    url('fonts/icomoon.woff?ifuf75') format('woff'),
    url('fonts/icomoon.svg?ifuf75#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-email:before {
  content: "\e900";
}
.icon-print:before {
  content: "\e901";
}

