/*

LOCAL VARIABLES

*/

$blue-text: #000038;
$background-color-gray: #eeeeee;
$border-color-gray: rgb(229, 229, 229);
$blue-elali-dark: #3D538F;
$blue-elali: #00a3d5;
$blue-elali-background: #00587a;
$border-elali: #485c91;
$opacity: rgba(255, 255, 255, 0.81);
 
/*

END LOCAL VARIABLES

*/

/*
MIXING
*/

@mixin right($i) {
  .lang.he & {
    right: $i;
  }
  .lang.en & {
    left: $i;
  }
}

@mixin left($i) {
  .lang.he & {
    left: $i;
  }
  .lang.en & {
    right: $i;
  }
}

@mixin gradient($background , $start , $end) {
  background: $background; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient($start, $end); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient($start, $end); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient($start, $end); /* For Firefox 3.6 to 15 */
  background: linear-gradient($start, $end); /* Standard syntax */
}

/*
END MIXING
*/

body {
  .lang {

    .icon-pad {
      font-family: arial !important;
    }
    font-family: Arial, sans-serif;
    &.en {
      direction: ltr;
      section.main-component-section {
        .main-component {

          .info {
            border-left: 5px solid;
            border-right: 0;

            .arrow-right {
              border-right: 20px solid $background-color-gray;
              border-left: 0;
              left: -20px;
              right: auto;
              margin: 0;
            }
            .arrow-right-border {
              border-right: 15px solid $blue-elali-dark;
              border-left: 0;
              left: -13px;
              right: auto;
            }
            .row-2 {
              .info-icon {
                &:after {
                  right: -24px;
                  left: auto;
                }
              }
              .plus {
                padding: 9px 20px 0 0px
              }
            }
            .info-table {
              .info-row {
                .btn.add-to-cart {
                  &:before {
                    left: 10px;
                    right: auto;
                  }
                }
                .buy-now {
                  &:after {
                    #{$right}: auto;
                    #{$left}: 20px;
                    top: -4px;
                    transform: rotate(180deg);
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
.voucher-icons-wrapper{
  float: #{$right};
}
section.voucher-section-main {
  .voucher-section {
    color: $blue-text;
    padding: 20px 0px;
    border-top: 1px solid $popover-border-color;
    border-bottom: 1px solid $popover-border-color;
    body.mimush & {
      border-top: 0;
      border-bottom: 0;
    }

    .voucher-wrapper {
      padding:  0 15px 15px;
    }
    .voucher {
      .voucher-opacity {
        position: absolute;
        background-color: $opacity;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 2;
        margin: auto;
        width: 100%;
        .opacity-content-wrapper {
          position: absolute;
          text-align: center;
          top: 0;
          bottom: 22px;
          left: 0;
          right: 0;
          margin: auto;
          width: 130px;
          height: 70px;
          .glyphicon {
            font-size: 27px;
          }
          .opacity-content {
            font-weight: bold;

          }
        }
      }
      position: relative;
      .fly-card {

        @include gradient(#214aa6, #214aa6, #202c82);
        background-color: $blue-elali-background;
        padding: 8px 5px;
        position: absolute;
        @include left(0);

        color: #fff;
        .fly-card-color {
          color: $blue-elali
        }
      }
      img {
        width: 100%;
      }
      .voucher-info-wrapper {

        background-color: $background-color-gray;
        border-top: 4px solid #fff;
        position: relative;
        .arrow-up-border {
          width: 0;
          height: 0;
          border-left: 15px solid transparent;
          border-right: 15px solid transparent;
          border-bottom: 15px solid #fff;
          position: absolute;
          left: 58px;
          top: -19px;
        }
        .arrow-up {
          width: 0;
          height: 0;
          border-left: 15px solid transparent;
          border-right: 15px solid transparent;
          border-bottom: 15px solid #f2f2f2;
          position: absolute;
          left: 58px;
          top: -12px;
          z-index: 1;
        }
        .voucher-info {
          padding: 10px 0;
         
          margin: 0 15px;
          max-height: 85px;
    overflow: hidden;
          .title {
            min-height: 45px;
            display: inline-block;

            .bold {
              font-weight: bold;
              font-size: 17px;
            }
          }

      
        }

            .voucher-footer{
               border-top: 1px solid $border-color-gray;
               min-height:75px;
          }
        .price-wrapper, .info-footer {
          padding: 10px 15px;
         // border-#{$right}:1px solid #e5e5e5;

          .price {
            font-size: 27px;
            font-weight: bold;

            @media screen and (max-width: 776px){
              font-size:22px;
            }
            
          }
          .date {
            float: $left;
            font-size:12px;
            position: relative;
            &.expierd::after{
              content: "";
              position: absolute;
              border-left: 1px solid $mfe-elal-main-color;
              #{$right}: 0;
              height: 100%;
              top: 0;
              #{$right}: -9px;
            }
          }
          .price-inner {
            text-align: $right;
          }
        }
        .info-footer {
          float: $left;
        }
      }
    }

  }
}

section.main-component-section {
  padding: 20px 0 50px 0;

  @media screen and (max-width: 996px){
    padding-bottom:20px;
  }

  .main-component {

    display: table;
    color: #fff;
    .img-wrapper {
      display: table-cell;
      width: 66%;
      img {
        width: 100%;
      }
    }
    .info {
      position: relative;
      height: 100%;
      .arrow-right {
        width: 0;
        height: 0;
        border-top: 20px solid transparent;
        border-bottom: 20px solid transparent;
        border-left: 20px solid #f2f2f2;
        position: absolute;
        top: 57px;
        right: -20px;
      }
      .arrow-right-border {
        width: 0;
        height: 0;
        border-top: 15px solid transparent;
        border-bottom: 15px solid transparent;
        border-left: 15px solid #3D538F;
        position: absolute;
        top: 62px;
        right: -13px;
      }
      .info-table {
        display: table;
        width: 100%;
        height: 100%;
        .info-row {
          display: table-row-group;
          .row-3 {
            padding: 10px 0;
            select {
              width: 40px;
              background-color: #232d50;
            }
            &.border {
              border-bottom: 1px solid $border-elali;
            }
          }
          .btn {
            float: left;
            font-weight: bold;
            padding: 10px 50px;
            border: 0;
            position: relative;
            &:hover {
              color: #fff;
            }
            &:active {
              border: 0;
              color: #fff;
            }
          }
          .btn.add-to-cart {
            float: right;
            &:before {
              background: url("../images/add_to_cart.png") no-repeat;
              content: ' ';
              width: 31px;
              height: 28px;
              position: absolute;
              right: 5px;
              top: 4px;
            }
          }
          .buy-now {
            &:after {
       content: "\003e";
    position: relative;
    #{$left}: 10px;
            }
          }

        }
      }

      .info-col-1 {
        padding: 10px 0;
        width: 30%;
        display: inline-block;
        .border {
          margin-#{$right}: 20px;
          border-#{$right}: 1px solid $border-elali;
        }
      }
      .info-col-2 {
        .title.bold {
          font-size: 35px;
          font-weight: bold;
        //  line-height: 1;
        }
        .title {
          font-size: 35px;
          display: inline-block;
        }
      }
      width: 40%;
      display: table-cell;
      background-color: $blue-elali-dark;
      vertical-align: top;
      padding: 10px 20px;
      border-right: 5px solid;
      .main-component-header {
        padding-bottom: 25px;
        border-bottom: 1px solid $border-elali;
        .header-title {
          font-size: 20px;
           @media screen and (max-width: $screen-sm-max)
           {
             font-size: 18px;
             display: inline;
    float: none;
    width: 100%;
           }
        }
        .header-second {
          font-size: 17px;
        }
      }
      .details {
        font-weight: bold;
        display: inline;
      }
      .row-1 {
        border-bottom: 1px solid $border-elali;
      }
      .row-2 {
        display: table;
        width: 100%;
        padding-top:3%;
        .plus {
          font-size: 23px;
          padding: 9px 0 0 20px;
          font-weight: bold;
        }
        .info-icon {
          position: relative;

          &:after {
            content: ' ';
            position: absolute;
            width: 50px;
            height: 50px;
            background: url("../../images/Info.png") no-repeat;
            left: 0;
            top: 13px;
          }

        }
        .info-col-2 {
          display: inline-block;
          height: 64px;
          vertical-align: text-bottom;
          &.points {
            width: 30%;
            @media screen and (max-width: $screen-sm-max)
            {
              width: 40%;
            }
          }
        }
      }
      .row-3 {
        select {
          background-color: $blue-elali-dark;
        }
      }

    }
  }
}

section.content-section {
  padding: 0 0 50px 0;

   @media screen and (max-width: $screen-sm-max)
   {
      padding: 0 0 5px 0;
   }
  h1 {
    color: $blue-text;
  }
}

section.lobby-voucher-slider {
  padding-top: 50px;
  .voucher-button-wrapper {
    width: 14%;
    float: $left;
    .voucher-button {
      position: relative;
      color: #fff;
      background-color: #00003c;
      padding: 5px 35px;
      margin: 5px 0;
      .glyphicon {
        position: absolute;
        @include right(10px);
        top: 15px;
        &:before {
          font-size: 15px;
          color: #fff;
        }

      }
    }
  }
  .voucher-slider {
    display: table;
    width: 85%;
    float: $left;
   // padding: 0 10px;
    height: 110px;
    span.border {
      border: 1px solid #e1e3e2;
      height: 110px;
      display: block;
      border-radius: 7px;
      display: flex;
      justify-content: flex-end;
      //width: 980px;
      // overflow-x: scroll;
      // overflow-y: hidden;
    }
    .voucher-slider-child {
      padding: 0 10px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      width: 110px;
      text-align: center;
      height: 108px;
      vertical-align: middle;



      .icon {
        width: 42px;
        height: 39px;
        margin: 0 auto;
      }

      @include gradient(#edf0f5, #ffffff, #edf0f5);
      &:hover {
        border-radius: 5px;
        cursor: pointer;
        @include gradient(#edf0f5, #edf0f5, #ffffff);
      }
      &:hover .icon {
        background-position: 0 0 !important;
      }
    }
    .voucher-slider-child + .voucher-slider-child {
      border-right: 1px solid #e1e3e2;
    }
  }

  .glyphicon {
    &:before {
      font-size: 35px;
      color: #00003b;
    }
  }
  .voucher-title-wrapper {
     @media screen and (max-width: $screen-sm-max)
     {
       padding:0;
     }
    padding: 30px 0;
    h1, h5 {
      margin: 0;
    }
    .voucher-title-icons {
      padding-top: 10px;
      .icon-wrapper {
        display: inline-block;
       // padding: 15px 0 0 0px;
        .icon {
          height: 38px;
        }

        .icon-voucher{
            font-size:37px;
        }

        .icon-cart{
          font-size: 39px;
        }
        &:hover{
          text-decoration: none;
        }
      }

      .icon-border{
        border-#{$left}: 1px solid #e1e3e2;
        padding-#{$left}:15px;
          @media screen and (max-width: $screen-sm-max)
        {
          border: none;
        }
      }

      .icon-pad{
        padding-#{$right}:22px;
        @media screen and (max-width: $screen-sm-max)
        {
          display: none;
        }
      }
    }
    .voucher-title {
      float: $left;
      color: #00003b;
      h1 {
        font-size: 45px;
      }
      .points {
        font-weight: bold;
      }

    }
    .icon-wrapper {
      text-align: center;
      min-width: 100px;
      position: relative;
      .icon-point-wrapper {
        position: absolute;
     
        padding: 2px;
        background-color: #fff;
        border-radius: 14px;
     #{$left}: 39px;
    top: 18px;
        .icon-point {
          background-color: #3c528c;
          padding: 2px 5px;
          border-radius: 10px;
          font-size: 12px;
          color: #fff;
              position: relative;
    /*#{$left}: 14px;*/
    bottom: 0px;
        }
      }
.icon-main{
  #{$left}: 32px;
}
        .wrapper-basket{
            #{$left}:22px;
          }
      .icon-text {
        font-weight: bold;
        font-family: arial !important;
      }
    }
  }

}

@media screen and (max-width: 1260px) {

  section.main-component-section {
    .main-component {
      .info {
        .info-table {
          .info-row {
            .btn {
              padding: 10px 36px;
            }
          }

        }
      }
    }

  }
}

@media screen and (max-width: 1024px) {

  section.lobby-voucher-slider {
    .voucher-slider {
      span.border {
        width: 785px;
      }
    }
  }
}

@media screen and (max-width: 990px) {

  section.lobby-voucher-slider {
    .voucher-button-wrapper {
      width: 100%;
    }
  }

  section.main-component-section {

    .main-component {
      display: block;
      width: 100%;
      .info {
        display: block;
        width: 100%;
        border-right: 0;
        border-top: 5px solid;
        .arrow-right, body.en & .arrow-right {
          border-left: 15px solid transparent;
          border-right: 15px solid transparent;
          border-bottom: 15px solid $blue-elali-dark;
          position: absolute;
          left: 93px;
          right: auto;
          top: -33px;
          z-index: 1;
        }
        .arrow-right-border, body.en & .arrow-right-border {
          border-left: 20px solid transparent;
          border-right: 20px solid transparent;
          border-bottom: 20px solid #f2f2f2;
          position: absolute;
          left: 88px;
          right: auto;
          top: -35px;
        }
        .info-table {
          .info-row {
            .btn {
              padding: 10px 40px;
            }
          }

        }
        body.en & {

          border-left: 0;

        }


      }

    }

  }
}

@media screen and (max-width: 768px) {

  section.lobby-voucher-slider {
    .voucher-slider {
      display: block;
      overflow-x: scroll;
      overflow-y: hidden;
      width: 100%;
    }
    .voucher-button-wrapper {
      float: none;
      width: 100%;
    }
    .voucher-button {

      width: 49%;
      display: inline-block;

    }

  }
}

@media screen and (max-width: 380px) {
  section.lobby-voucher-slider {
    .voucher-title-wrapper {
      .voucher-title h1 {
        font-size: 35px;
      }
    }
  }
}

@media screen and (max-width: 320px) {
  section.main-component-section {
    .main-component {
      .info {
        .info-table {
          .info-row {
            .btn {
              padding: 10px 33px;
            }
          }

        }
      }
    }

  }
  section.voucher-section-main{
    .voucher-section {
      .voucher {
        .voucher-info-wrapper {
          .price-wrapper {
            .price {
              font-size: 22px;
            }
          }
        }
      }
    }
  }
}

.voucher-select
{
  -webkit-appearance: none;
}
.voucher-icons-wrapper{
  float: #{$right};
}

.slider-voucher-wrapper{



    display: block;

}

.info-table{
  .icon-error{
font-family: arial;
  &:before{
    font-family: "icomoon";
 padding-#{$right}:7px;
  color:#edc800 !important;
  }
 
}
}

.header-title bold
{
   @media screen and (max-width: $screen-md-max)
   {
     display: inline;
   }
}

.payment-note
{
  padding-#{right}:15px;
  font-size:12px;
}

.worth{
  font-size:12px;
}

.country-code
{
     width: 81px;
    background-color: #fff;
    padding-#{$left}: 2px;
    font-size: 11px;
    height: 43px;
}

input[type=checkbox].css-checkbox {
 overflow: hidden; clip: rect(0 0 0 0); height:1px; width:1px; margin:-1px; padding:0; border:0; display: none;
}

input[type=checkbox].css-checkbox + label.css-label {
  padding-#{$left}:35px;
  height:52px;
  width:100%;
  color:$mfe-elal-main-color;
  display:inline-block;
  line-height:30px;
  //background-repeat:no-repeat;
  //background-position: #{$left} 0;
  font-weight:normal;
  vertical-align:middle;
  cursor:pointer;
  background: #fff;
  background: -webkit-linear-gradient(#ffffff, #edf0f5);
  background: -o-linear-gradient(#ffffff, #edf0f5);
  background: -moz-linear-gradient(#ffffff, #edf0f5);
  background: linear-gradient(#ffffff, #edf0f5);
  border: 1px solid #e1e3e2;
  position: relative;
}

input[type=checkbox].css-checkbox:checked + label.css-label {
  background:$mfe-elal-main-color;
  color:#fff;
  //background-position: #{$left} -30px;
  &:before{
    font-family: 'icomoon' !important;
    content: "\e906";

    color:#fff;
    position: absolute;
    right: 10px;
    top: 11px;
  }

}
label.css-label {
  //background-image:url(http://csscheckbox.com/checkboxes/u/csscheckbox_f60067e68146be412873f96f1d2458cd.png);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: absolute;
  &:before{
    font-family: 'icomoon' !important;
    content: "\e906";
    color:#e6e8eb;
    position: absolute;
    right: 10px;
    top: 11px;
  }

span{
  width: 50%;
  display: block;

  position: absolute;
  top: 7px;

  line-height: 1.3;
}
}

.main-checkbox
{

  height: 57px;
  width: 100%;
  @media screen and (max-width: $screen-sm-max){
    width: 49%;
    display: inline-block;
  }

}

.checkbox-wrapper{
  width:14.5%;
  @media screen and (max-width: $screen-sm-max)
  {
    width:100%;
  }
}