﻿<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=1">
    <meta http-equiv="X-UA-Compatible" content="IE=11,IE=10,IE=9,IE=EDGE" />
    <link href="css/style-ltr.css" rel="stylesheet" />

    <script src="scripts/jquery-3.2.1.js"></script>
    <script src="scripts/angular.min.js"></script>
    <script src="javascripts/bootstrap.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Varela+Round&amp;subset=hebrew" rel="stylesheet">
</head>
<body class="basket-page">
    <div ng-app="" class="container">
        <button ng-click="empty = empty ? false : true; main = main ? false : true">Empty Basket</button>

        <div class="">

iuottgiugiugujibvi

            <button type="button" class="btn btn-info btn-elal" data-toggle="modal" data-target="#registerModal">הרשאה</button>
            <button type="button" class="btn btn-info btn-elal" data-toggle="modal" data-target="#errorModal">שגיאה</button>
            <button type="button" class="btn btn-info btn-elal" data-toggle="modal" data-target="#submitModal">נשלח</button>


            <div class="modal fade modal-register modal-submit" id="submitModal" role="dialog">
                <div class="modal-dialog">


                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>

                        </div>
                        <div class="modal-body text-center">
                            <div class="icon-v modal-v"></div>
                            <h4 class="modal-title error-title">הי אחמד, השוברים שבקשת הונפקו בהצלחה</h4>

                            <div class="row">

                                <div class="col-xs-12 text-center">
                                    <button class="btn btn-default">בטל</button>
                                    <button class="btn btn-default btn-elal">בחזרה לסל</button>
                                </div>
                            </div>






                        </div>
                        <div class="modal-footer">

                        </div>
                    </div>

                </div>
            </div>
            <div class="modal fade modal-register modal-submit" id="errorModal" role="dialog">
                <div class="modal-dialog">


                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>

                        </div>
                        <div class="modal-body text-center">
                            <div class="icon-error"></div>
                            <h4 class="modal-title error-title">פירוט תקלה מידע אינפורמטיבי בלה בלה בלה בלה</h4>

                            <div class="row">

                                <div class="col-xs-12 text-center">
                                    <button class="btn btn-default">בטל</button>
                                    <button class="btn btn-default btn-elal">בחזרה לסל</button>
                                </div>
                            </div>






                        </div>
                        <div class="modal-footer">

                        </div>
                    </div>

                </div>
            </div>
            <div class="modal fade modal-register" id="registerModal" role="dialog">
                <div class="modal-dialog">


                    <div class="modal-content">
                        <div class="modal-header">
                            <h3>אישור רכישת שוברים</h3>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>

                        </div>
                        <div class="modal-body">
                            <h4 class="modal-title">650 שוברים ירדו מחשבונך עבור השוברים שבחרת</h4>
                            <span>השוברים ישלחו אל</span>
                            <div class="row modal-input">
                                <div class="col-xs-2"><div class="icon-mobile"></div></div>
                                <div class="col-xs-10">
                                    <input type="email" />

                                </div>
                            </div>
                            <div class="row modal-input">
                                <div class="col-xs-2"><div class="icon-at"></div></div>
                                <div class="col-xs-10">
                                    <input type="text" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-10">
                                    <p>חשוב לנו ליידע אותך כי במידה ותשנה את הפרטים הכתובים, הפרטים החדשים ישמרו גם בפרופיל האישי שלך</p>

                                </div>

                            </div>






                        </div>
                        <div class="modal-footer">
                            <div class="row">
                                <div class="col-xs-12 checkbox-basket">
                                    <input type="checkbox" class="checkbox-basket" /><label>אני מאשר שתשלחו לי דואר שיווקים עם הצעות נוספות</label>
                                </div>
                                <div class="col-xs-12 checkbox-basket">
                                    <input type="checkbox" class="checkbox-basket" /><label>אני מאשר כי קראתי את כל תנאי השימוש עבור כל השוברים</label>

                                </div>
                                <div class="col-xs-12">
                                    <span class="basket-confirm">האם אתה בטוח שברצונך להמשיך?</span>
                                </div>
                                <div class="col-xs-12 text-center">
                                    <button class="btn btn-default">בטל</button>
                                    <button class="btn btn-default btn-elal">הנפק שוברים</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <ol class="breadcrumb">
                        <li><a href="#">בית</a></li>
                        <li><a href="#">מועדון הנוסע המתמיד</a></li>
                        <li><a href="#">מימוש נקודות</a></li>
                        <li class="active">סל הקניות</li>
                    </ol>
                </div>
            </div>
            <div class="row page-title">
                <div class="col-md-10 col-sm-12">
                    <h1>סל קניות הטבות</h1>
                </div>

                <div class="basket-div">
                    <div class="icon-voucher"></div>
                </div>
                <div class="col-sm-12">
                    <button class="back-btn btn btn-default">חזרה לכל ההטבות</button>
                </div>
                <div class="col-md-8">
                    <p>לתשומת ליבך: לא ניתן לממש את ההטבה בחלקה. אין החזר נקודות בגין הטבה לא ממומשת. ללא כפל מבצעים. טקסט משפטי טקסט משפטי טקסט משפטי טקסט משפטי טקסט משפטי טקסט משפטי טקסט משפטי טקסט משפטי טקסט משפטי טקסט משפטי טקסט משפטי טקסט משפטי טקסט משפטי טקסט משפטי.  לתנאי הזכאות המלאים.</p>
                </div>
                <!--<div class="btn-group btn-group-lg mfe-btn-group" data-toggle="buttons">
                    <label class="btn btn-info active" data-toggle="collapse" data-target="#home" aria-expanded="true" aria-controls="home">
                        <input type="radio" name="options" id="option1" autocomplete="off" checked=""><span>לא</span>
                    </label>
                    <label class="btn btn-info" data-toggle="collapse" data-target="#profile" aria-expanded="true" aria-controls="profile">
                        <input type="radio" name="options" id="option2" autocomplete="off"> <span>כן</span>
                    </label>
                </div>-->

            </div>
            <div ng-hide="main">
                <div class="clearfix"></div>
                <div class="basket-list">
                    <div class="title-row">
                        <div class="col-md-3 col-xs-12"><span class="client-name-title">שם בית העסק</span><a class="glyphicon glyphicon-triangle-bottom first-arrow-basket"></a></div>
                        <div class="col-md-3 col-xs-12"><span class="cupoun-name-title">שם ההטבה</span><a class="glyphicon glyphicon-triangle-bottom"></a></div>
                        <div class="col-md-1 col-xs-12">כמות<a class="glyphicon glyphicon-triangle-bottom"></a></div>
                        <div class="col-md-2 col-xs-12">כמות נקודות<a class="glyphicon glyphicon-triangle-bottom"></a></div>
                        <div class="col-md-3 col-xs-12">תשלום לבית העסק<a class="glyphicon glyphicon-triangle-bottom"></a></div>

                    </div>
                    <div class="basket-container">
                        <div class="row basket-row">
                            <div class="col-md-2  col-xs-6">
                                <img class="product-img" src="images/product.png" />
                            </div>
                            <div class="col-md-4 col-xs-6">

                                <h5>Trip Guarantee</h5>


                                <p>ביטוח ביטול טיסה עבור טיסות שערכן עד 2000$. <a>תנאי ההטבה</a></p>

                            </div>
                            <div class="visible-xs visible-sm clearfix"></div>
                            <div class="col-md-1 col-xs-4 basket-quantity">
                                <span class="glyphicon glyphicon-plus"></span>
                                <span>4</span>
                                <span class="glyphicon glyphicon-minus"></span>
                            </div>
                            <div class="col-md-2 col-xs-2 mobile-centered border-cupoun basket-points">
                                <span><b>350</b></span>
                                <span class="visible-xs visible-sm"><b>נק'</b></span>
                            </div>
                            <div class="col-md-3 col-xs-6 basket-pay">
                                <span><b>120 &#8362;</b></span>
                                <span class="visible-xs visible-sm"><b>תשלום לבית העסק</b></span>
                                <span class="icon-trash"></span>
                            </div>
                        </div>
                        <div class="row basket-row">
                            <div class="col-md-2  col-xs-6">
                                <img class="product-img" src="images/product.png" />
                            </div>
                            <div class="col-md-4 col-xs-6">

                                <h5>Trip Guarantee</h5>


                                <p>ביטוח ביטול טיסה עבור טיסות שערכן עד 2000$. <a>תנאי ההטבה</a></p>

                            </div>
                            <div class="visible-xs visible-sm clearfix"></div>
                            <div class="col-md-1 col-xs-4 basket-quantity">
                                <span class="glyphicon glyphicon-plus"></span>
                                <span>4</span>
                                <span class="glyphicon glyphicon-minus"></span>
                            </div>
                            <div class="col-md-2 col-xs-2 mobile-centered border-cupoun basket-points">
                                <span><b>350</b></span>
                                <span class="visible-xs visible-sm"><b>נק'</b></span>
                            </div>
                            <div class="col-md-3 col-xs-6 basket-pay">
                                <span><b>120 &#8362;</b></span>
                                <span class="visible-xs visible-sm"><b>תשלום לבית העסק</b></span>
                                <span class="icon-trash"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 points-sum">
                            <h4> סך הכל נקודות לניצול <b>650</b></h4>
                            <button ng-click="errorMsg=true" class="btn btn-elal">רכישה</button>
                            <div class="error-msg" ng-show="errorMsg">
                                <span>שים לב, יש ברשותך רק  370 נקודות, הסר חלק מההטבות כדי להמשיך</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div ng-show="empty">
            <div class="container empty-basket">
                <div class="icon-cart"></div>
                <p>
                    סל הקניות שלך ריק כרגע אבל יש המון הטבות אותן תוכל להוסיף לסל, לרכוש ולהינות מהן!
                </p>

            </div>

        </div>
    </div>


</body>
</html>
