﻿
.basket-page {
  @media screen and (max-width: $screen-sm-max) {
    padding: 0 5%;
  }

  /*modals*/

  .icon-voucher {

    @media screen and (max-width: $screen-sm-max) {

    }

    &:before {
      //  float: left;
      //  padding-top: 20px;
      // font-size: 40px;
    }
  }
  .basket-container {
    .row {
      border-bottom: 3px solid #f2f2f2;
      @media screen and (max-width: $screen-sm-max) {
        padding-bottom: 20px;
      }
    }
    a {
      color: $mfe-elal-second-color;
    }
  }
}

.product-img {
  width: 100%;
}

.icon-v {
  color: $mfe-confirm-color;
  padding: 25px;
  &.modal-v {

    font-size: 30px;
    padding: 0;

  }
}

.error-msg {
  color: $mfe-elal-error;
  //width:240px;
  //border:1px solid $mfe-elal-error;
  padding: 13px;
  position: absolute;
  #{$right}: 17%;

  top: 30px;
  z-index: 100;
  background-color: #fff;
  @media screen and (max-width: $screen-md-max) {
    position: static;
  }
  &::before {
    content: "!";
    color: #fff;
    background-color: $mfe-elal-error;
    display: block;
    width: 18px;
    height: 17px;
    top: 14px;
    #{$left}: -10px;
    padding-#{$right}: 7px;
    //   position: absolute;
    float: $left;
    z-index: 100;
    border-radius: 50%;

    font-weight: bold;
    @media screen and (max-width: $screen-md-max) {
      padding-#{$left}: 7px;
    }

  }

}

.inner-error-msg {
  color: $mfe-elal-error;

  padding-top: 0 !important;
  padding-bottom: 0 !important;
  z-index: 100;
  background-color: #fff;
  position: absolute;
  bottom: 10px;
  //top: 61px;
  // #{$left}: 30px;
  &::before {
    content: "!";
    color: #fff;
    background-color: $mfe-elal-error;
    display: block;
    width: 18px;
    height: 17px;
    //top: 14px;
    bottom: 0;
    //  #{$left}: -23px;
    //   position: absolute;
    z-index: 100;
    border-radius: 50%;
    padding-#{$left}: 7px;
    font-weight: bold;
    float: #{$left};

    @media screen and (max-width: $screen-md-max) {
      bottom: 20px;
    }
  }
  span {
    padding-#{$left}: 5px;

    @media screen and (max-width: $screen-sm-max) {
      /*font-size:3em;*/
      color: $mfe-elal-error !important;
      padding-#{$left}: 5px !important;
      padding-#{$right}: 0px !important;

      padding-top: 0;
      padding-bottom: 0;
    }

  }
}

.page-title {
  @media screen and (min-width: $screen-md-min) {
    padding-bottom: 60px;
  }

}

.modal-submit {

  .modal-title {
    font-size: 26px;
    font-weight: bold;
    padding: 0 25% 80px 25%;
    line-height: 1.2;

    &.error-title {
      font-size: 20px;
      padding-top: 30px;
      padding-bottom: 40px;
    }
  }

  .arrow-up {

    border-left: 24px solid transparent;
    border-right: 24px solid transparent;
    border-bottom: 35px solid $mfe-elal-main-color;
    position: relative;
    margin: 0 auto;
    &:before {
      content: "!";
      font-family: 'Varela Round', sans-serif;
      color: #fff;
      font-size: 2em;
      position: absolute;
      right: -4px;
      top: 1px;
    }
  }
}

.modal-register {
  .icon-mobile, .icon-at {
    color: $mfe-elal-main-color;
    font-size: 30px;
    padding-top: 8px;

  }

  .modal-dialog {
    width: 440px;
    @media screen and (max-width: $screen-sm-max) {
      width: 94%;
    }
  }

  .modal-body {
    padding: 10px 35px;

    h4 {
     // padding-bottom: 30px;
      color: $mfe-elal-main-color;
      font-size: 16px;
    }

    span {
      font-size: 16px;
      padding: 10px 0;
      display: block;
    }

    .basket-confirm {
      padding: 60px 0 35px 0;
      height: 40px;
    }
  }

  .modal-header {
    border-bottom: 3px solid $mfe-elal-main-color;
    min-height: 50px;
    h3 {
      display: inline;
      color: $mfe-elal-main-color;

    }
    .close {

      color: $mfe-elal-main-color;
      background-color: transparent;
      border: none;
      font-size: 40px;
      position: absolute;
      top: 2px;
      #{$right}: 10px;
    }
  }
  .modal-footer {
    padding: 10px 35px;

    span {
      font-size: 16px;
      display: block;
    }
  }

  input[type="email"], input[type="text"] {
    width: 100%;
    padding: 10px;
  }

  .checkbox-basket {
    display: none;
  }

  .checkbox-basket + label:before {
    content: "";
    display: inline-block;
    width: 18px;
    height: 18px;
    outline: 1px solid #eee;
    background-color: $mfe-elal-main-color;
    margin-#{$right}: 12px;
    vertical-align: bottom;
    @include transition(all .3s);
    padding: 3px;
  }

  .checkbox-basket:checked + label:before {
    content: "\e906";
    font-size: 10px;
    font-family: icomoon !important;
    color: #fff;
    display: none;
    width: 18px;
    height: 18px;
    outline: 1px solid #eee;
    padding-left: 4px;
    display: inline-block;

    margin-#{$right}: 12px;
  }

  .col-sm-10 {
    height: 70px;
  }

  p {
    text-align: #{$left};
    font-size: 1em;
    padding-bottom: 5px;
    margin-#{$left}: 23%;
    &:before {
      content: "*";
      color: $mfe-elal-second-color;

      font-size: 1.5em;
      position: absolute;
      #{$left}: 21%;
    }
  }
  .btn {
    font-size: 18px;
    height: 45px;
    width: 40%;
    @media screen and (max-width: $screen-md-max) {
      width: 47%;
    }
  }

  .btn-elal {
    width: 40%;
    @media screen and (max-width: $screen-md-max) {
      width: 47%;
    }
  }

}

.back-btn {
  color: $mfe-elal-second-color;
  font-size: 20px;
  border: none;
  display: block;
  padding: 12px 0;

  &:after {
    content: "\003e";
    /* width: 20px; */
    /* height: 20px; */
    font-size: 20px;
    color: #fff;
    background-color: #3c528f;
    border-radius: 50%;
    font-size: 15px;
    border-radius: 50%;
    /* padding: 2px 8px; */
    padding-right: 8px;
    padding-left: 8px;
    padding-top: 4px;
    padding-bottom: 4px;

    background-color: $mfe-elal-second-color;

    margin-#{$left}: 10px;
  }

  &:hover, &:active {
    background-color: transparent;
  }
}

.basket-row {
  div {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  div > span {
    /*font-size: 16px;*/
    @media screen and (max-width: $screen-sm-max) {
      /*font-size:3em;*/
      color: $mfe-elal-main-color;
      padding: 0 10%;
    }
  }

  .glyphicon {
    background-color: #d6d3d3;
    padding: 4px;
    font-size: 12px;
    cursor: pointer;
    @media screen and (max-width: $screen-sm-max) {

      font-size: 9px;
    }
  }

  .icon-trash {
    color: $mfe-elal-main-color;
    font-size: 23px;
    float: #{$right};
    padding-top: 30px;
    padding-bottom: 30px;
    @media screen and (max-width: $screen-sm-max) {
      /*font-size: 45px;*/
      padding-top: 5px;
      padding-bottom: 5px;
      position: absolute;
      #{$right}: -12px;
      top: -6px;
    }
  }
  h5 {
    width: 26%;
    display: inline-block;
    vertical-align: top;
    margin: 0;

    @media screen and (max-width: $screen-sm-max) {
      display: block;
      line-height: 1.4;
      /*font-size: 33px;*/
      width: 100%;
      margin: 0;
      color: $mfe-elal-main-color;
      font-weight: bold;
    }
  }

  p {
    width: 72%;
    display: inline-block;
    padding: 0px 9%;
    @media screen and (max-width: $screen-sm-max) {
      display: block;
      padding: 0;
      /*font-size:33px;*/
      color: $mfe-elal-main-color;
      width: 100%;
    }
  }
  .mobile-centered {
    @media screen and (max-width: $screen-sm-max) {
      text-align: center;
    }
  }

  .border-cupoun {
    @media screen and (max-width: $screen-sm-max) {
      border-right: 2px solid $mfe-elal-main-color;
      border-left: 2px solid $mfe-elal-main-color;
    }
  }
}

.points-sum {
  text-align: #{$right};
  padding-top: 10px;
  position: relative;
  color: $mfe-elal-main-color;
  @media screen and (max-width: $screen-sm-max) {
    text-align: #{$left};
  }
  button {
    &:after {
      content: "\003e";
      position: relative;
      #{$left}: 12px;
    }
    @media screen and (max-width: $screen-sm-max) {
      width: 40%;
      /*height:85px;*/
      /*font-size:3em;*/
    }
  }
  h4 {
    font-size: 16px;
    @media screen and (max-width: $screen-sm-max) {
      width: 55%;
      /*font-size:3.3em;*/
      display: inline-block;
      text-align: center;
    }
  }

  .error-msg {
    span {
      padding-#{$left}: 5px;
    }
  }
}

/*Empty Basket*/
.empty-basket {
  text-align: center;

  padding: 20px;
  color: $mfe-empty-basket-color;
  border: 2px dotted $mfe-empty-basket-color;
  @media screen and (min-width: $screen-md-min) {
    padding: 100px 160px 140px 160px;
  }
  .icon-cart {
    font-size: 80px;
    &:before {
      color: $mfe-empty-basket-color;
    }
  }
  p {
    padding-top: 30px;
    font-size: 1.7em;
    width: 60%;
    margin: 0 auto;
  }
}

.modal-content {
  background-color: $mfe-elal-fourth-color;
  .icon-error {
    font-size: 35px;
    padding: 35px;
  }

  .modal-input {
    margin: 10px 0;
  }
}

.arrow-up {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;

  border-bottom: 5px solid black;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;

  border-top: 20px solid #f00;
}

.arrow-right {
  width: 0;
  height: 0;
  border-top: 60px solid transparent;
  border-bottom: 60px solid transparent;

//  border-left: 60px solid green;
}

.arrow-left {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;

  border-right: 10px solid blue;
}

.basket-pay, .basket-points {
  @media screen and (max-width: $screen-sm-max) {
    span {
      font-size: 13px;
      padding: 0;
    }

    .icon-trash {
      &:before {
        font-size: 35px;
      }
    }
    padding: 0 !important;
  }
  @media screen and (max-width: 570px) {
    .icon-trash {
      #{$right}: -18px;
      top: 4px;
      &:before {
        font-size: 26px;
      }
    }
  }
}

.basket-points {
  @media screen and (max-width: $screen-sm-max) {
    width: 17%;

  }
}

.basket-quantity {
  @media screen and (max-width: $screen-sm-max) {
    width: 25%;
    min-width: 90px;
    padding: 0 !important;
  }
}

.basket-cell {
  height: 150px;
  @media screen and (max-width: $screen-sm-max)
  {
    height:165px;
  }
}

.btn-terms {
  background-color: transparent;
  color: $mfe-elal-second-color;
  padding: 0;
  margin: 0;
  border: none;
  &:hover {
    background-color: transparent;
    color: $mfe-elal-second-color;
    padding: 0;
    margin: 0;
    border: none;
  }
  &:active {
    background-color: transparent;
    color: $mfe-elal-second-color;
    padding: 0;
    margin: 0;
    border: none;
  }

}

.voucher-icon-basket {
  .icon-cart {
    &:before {
      content: "\e908" !important;
    }
  }
  .wrapper-basket {
    #{$left}: 29px !important;
  }
}

.broken-voucher-container
{
  p{
    color: $mfe-elal-error;
    padding-top:15px;

  }
}
.broken-voucher
{
  background-image: url("images/Broken_Voucher_icon.png");
  width:30px;
  height:30px;
  //background-size: cover;
}


.popup-error-msg {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: $mfe-elal-error;
  color: #fff;
  font-size: 14px;

  &:after {
    content: '!';
  }
}