.mimush{
    .owl-carousel{
        .icon {
    width: 42px;
    height: 39px;
    margin: 0 auto;
    &:hover{
        background-position: 0 0 !important;
    }
}
    }

    .voucher-slider-child {
    padding: 23px 10px;
    //display: table-cell;
    width: 120px;
    text-align: center;
    height: 108px;
    vertical-align: middle;
    background: #edf0f5;
    background: -webkit-linear-gradient(#ffffff, #edf0f5);
    background: -o-linear-gradient(#ffffff, #edf0f5);
    background: -moz-linear-gradient(#ffffff, #edf0f5);
    background: linear-gradient(#ffffff, #edf0f5);

    @media screen and (max-width: 800px){
        width: 70px;
    }
}
.owl-item{
        border-#{$left}: 1px solid #e1e3e2;
        border-top: 1px solid #e1e3e2;
        cursor: pointer;
  @media screen and (max-width: 800px){
    width:70px !important;
  }
}

.glyphicon-text
{
    @media screen and (max-width: 800px){
        font-size:10px;
    }
}


}

.owl-carousel .owl-nav .owl-prev,
  .owl-carousel .owl-nav .owl-next,
  .owl-carousel .owl-dot {
 font-family:'Glyphicons Halflings';

}
.owl-carousel .owl-nav .owl-prev:before{
    // fa-chevron-left
        content: "\e258";
    margin-right:18px;
  @if $alpha == "left"{

    content: "\e257";
}
}
.owl-carousel .owl-nav .owl-next:after{
    //fa-chevron-right

    margin-right:18px;
    content: "\e257";
  @if $alpha == "left"{

    content: "\e258";
  }
}

#navwrap
{
    height:30px;
}

.owl-nav{
  @media screen and (max-width: $screen-md-max)
  {
    display: none;
  }
}
.owl-prev{
       width: 5%;
    height: 100%;
    position: absolute;
    top: 0;
  #{$left}: 20px;
    margin-#{$left}: -20px;
    display: block;
    
    padding-top: 4%;
         border-right: 1px solid #e1e3e2;
           border-left: 1px solid #e1e3e2;
    border-top: 1px solid #e1e3e2;
      background: linear-gradient(#ffffff, #edf0f5); /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#ffffff, #edf0f5); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#ffffff, #edf0f5); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#ffffff, #edf0f5); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#ffffff, #edf0f5); /* Standard syntax */
}

.owl-next{
        width: 5%;
    height: 100%;
    position: absolute;
    top: 0;
  #{$right}: -53px;
    margin-#{$left}: -20px;
    display: block;
    border: 0px solid black;
    padding-top: 4%;
         border: 1px solid #e1e3e2;

      background: linear-gradient(#ffffff, #edf0f5); /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#ffffff, #edf0f5); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#ffffff, #edf0f5); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#ffffff, #edf0f5); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#ffffff, #edf0f5); /* Standard syntax */
}

.owl-carousel{

    margin: 0 auto;
  @media screen and (max-width: 1024px)
  {
    width:100% !important;
  }
  @media screen and (min-width: 1025px){
    width:80% !important;
   // float:#{$right};
    #{$right}: -5%;
  }
}