﻿/* Insurance start */

$headlineColor: #00003c;
$ContainerTextColor: white;
$font_family_1: "Rubik";
$containerBackgroundColor: rgba(0, 0, 60, 0.7);
$containerBackgroundColorHover: #00003c;

.mimush {
	font-family: $font_family_1;
	.item-holder {
		padding: 20px 6px 20px 6px;
	}
	.item-headline {
		font-size: 20px;
		line-height: 18px;
		font-weight: 500;
		margin-bottom: 10px;
		color: $headlineColor;
	}
	.img-container {
		display: inline-block;
		position: relative;
		padding-top: 5px;
		padding-bottom: 5px;
	}
	.text-container {
		position: absolute;
		bottom: 0;
		background-color: $containerBackgroundColor;
		color: $ContainerTextColor;
		line-height: 20px;
		padding: 15px;
		width: 100%;
		min-height: 30%;
		min-height: 67px;
		&:hover {
			background-color: $containerBackgroundColorHover;
		}
	}
	.item-title {
		font-size: 18px;
		font-weight: 400;
		margin-bottom: 7px;
	}
	.item-description {
		font-size: 18px;
		font-weight: 300;
		vertical-align: bottom;
	}
}

/* Insurance end */

