.insurance-voucher
{
  .voucher-title{
    font-weight: bold;
    line-height: 26px;
    h1{
      font-size:42px;
    }
  }

  .voucher-info-wrapper
  {
margin-top: 7px;
    border-radius:5px;
    background-color: #e1e3e7 !important;
  }

  .voucher-info{
    h3{
     // width:75%;
      margin:0;

    }
  }

  .price-wrapper{
    padding:0;
  }

.insure-wrapper{
  padding: 2%
}

  .glyphicon-chevron-left{
    &:before{
      font-size: 20px;
      float: left;
      padding-top: 7px;
      //transform: rotate(270deg);
    }

  }
}

.insurance-right-text
{
  width:65%;
  display: inline-block;
  span{
    display: block;
    font-size:18px;
    line-height: 22px;
  }
}

.insurance-left-text
{
  width:30%;
  display: inline-block;
position: relative;
  span{
   text-align: #{$right};
    width:50%;
    font-size:14px;
    line-height:15px;
    position: relative;
    right:15x;
  }
}



.magnify-glass
{
width:20px !important;
  height:20px;
  display: inline-block;
  position: absolute;
  #{$right}:3px;
  top:10px;

  @media screen and (min-width: $screen-lg-min){
    #{$right}:6px;
  }
&.ltr{
  transform: rotate(270deg);
}
}

.voucher-info-insure {
  width: 74%;
  padding:0 2%;
}

.magni-icon{
  background: url('../images/magnifier.png');
  background-size: cover;
  width:25px;
  height:25px;
  display: inline-block;
}
.magnify-text{
  display: inline-block;
  width:58%;
  word-wrap: break-word;
}