﻿

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?f5t7l9');
  src:  url('../fonts/icomoon.eot?f5t7l9#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?f5t7l9') format('truetype'),
    url('../fonts/icomoon.woff?f5t7l9') format('woff'),
    url('../fonts/icomoon.svg?f5t7l9#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-error:before {
  content: "\e909";
  color: #00003b;
}
.icon-cart:before {
  content: "\e902";
  color: #00003b;
}
.icon-trash:before {
  content: "\e907";
  color: #02013b;
}
.icon-voucher:before {
  content: "\e908";
  color: #00003b;
}
.icon-at:before {
  content: "\e900";
}
.icon-envelope:before {
  content: "\e901";
  color: #3c528f;
}
.icon-mobile:before {
  content: "\e903";
}
.icon-pencil:before {
  content: "\e904";
  color: #00003b;
}
.icon-print:before {
  content: "\e905";
  color: #3c528f;
}
.icon-v:before {
  content: "\e906";
  color: #4cae40;
}

