﻿.edit-popup
{
    background-color: $mfe-elal-fourth-color; 
    //position: fixed;
    //#{$left}:64%;
   // width: 360px;
    padding:18px 24px 24px 24px;
//bottom:20%;

    h5{
        font-weight: bold;
    }

    h4{
        font-size: 16px;
        color: $mfe-elal-main-color;
        font-weight:bold;
        /*&:before{
            content:"\2713";
            color:$mfe-confirm-color;
            padding:4px;
            font-size:20px;
            font-weight:bold;
        }*/

    }


   input[type="text"]{
            font-size: 16px;
    padding: 5px;
    width: 100%;

    }

   .btn-save
       {
      // height:33px;
      // width:90px;
background-color: $mfe-elal-main-color;
color:#fff;
   }

   .btn-close
       {
       background-color: transparent;
       color: $mfe-elal-main-color;
       border:none;
   }

   .conf-msg
       {
       font-size:0.8em;
       padding:15px 0;
   }
       .icon-v{
           color:$mfe-confirm-color;
            padding:4px;
      }

  .glyphicon-remove{
    color: rgb(252, 11, 56);
    padding: 0 4px;
    font-size: 21px;
    top:5px;
  }

  .country-code
  {
    width:100%;
    padding:0;
    height:36px;
  }
}


.stage-1
{
      .btn-save
       {
          text-align:center;
      // width:50px;
        transform: translateY(50%);
   }

      .icon-mobile, .icon-at
          {
          font-size:30px;
          color: $mfe-elal-main-color;
             transform: translateY(50%);
      }
       
  

      .icon-pencil{
          padding-#{$left}:4px;
      }

      .row{
          padding:10px 0;
          .col-sm-7{
               border-#{$left}:1px solid $mfe-elal-main-color; 
          }
      }

}
