﻿p{
    @media screen and (max-width: $screen-sm-max){
         /*font-size:1.8em;*/
         padding: 0;
    }
}

a{
  cursor:pointer;
}


.float-left
{
    float:$right;
}

.elal-blue{
    color: $mfe-elal-main-color;
}

.policy-text
{
    padding:20px 0;
}
.cupoun-name-title{
  padding-#{$left}:40px;
}

.client-name-title{

  position: absolute;
  #{$right}: 24px;

}

.first-arrow-basket{
  float: #{$right};
}

.details-icons{
    button{
             @media screen and (max-width: $screen-sm-max) {
        display: none;
    }
    }
 

}

    .breadcrumb {
        background-color: #fff;
        @media screen and (max-width: $screen-sm-max){
            display:none;
        }
    }

   .btn-elal
       {
       height:33px;
       width:90px;
background-color: $mfe-elal-main-color;
color:#fff;

&:hover{
    color:#fff;
} 
   }

.coupons-page {
    .page-title{
        padding-bottom: 0;
    }
    @media screen and (max-width: $screen-sm-max){
         font-size:24px;
         padding: 0 2%;
    }
   

  .top-basket {
   // margin-bottom: 40px;

        h1 {
            color: $mfe-elal-main-color;

margin-bottom:0;
        }

        p{
            padding-top:32px;
        }

        .paragraph
{
    padding-top:0;
}

        .back-btn {
            color: $mfe-elal-second-color;
            font-size: 20px;
            border: none;
            padding:12px 0;

              @media screen and (max-width: $screen-sm-max){

                  }

            &:before {
                content: "\003c";
                width: 20px;
                height: 20px;
                font-size: 20px;
                color: #fff;
                background-color: $mfe-elal-second-color;
                border-radius: 50%;
                font-size: 15px;
                border-radius: 50%;
                /* padding: 2px 8px; */
                padding-#{$right}: 6px;
                padding-#{$left}: 5px;
                padding-top: 1px;
                padding-bottom: 1px;
                margin-#{$right}: 10px;




            }

            &:hover, &:active {
                background-color: transparent;
            }
        }

        .basket-div
            {
            padding-top:20px;
            float:left;

  span{
        position: absolute;
    top: 84px;
    left: 17px;
    font-sizE: 12px;
  }
       }

        .active-basket{
            &:before{
content:"2";
background-color: $mfe-elal-second-color;
color:#fff;
display: block;
height:20px;
width:21px;
border: 1px solid #fff;
border-radius: 50%;
    position: absolute;
  left: 40px;
    top: 57px;
    padding: 0 5px 0 0;
    font-size:1em;
            }
        }

        select {
            height: 40px;
            border-#{$right}: none;
            border-#{$left}: none;
            color: #6f7071;
            font-size: 1.2em;
            border: 1px solid $mfe-elal-select-border;
            background-color: #fff;
            margin-top: 20px;
          
        }
    }

    .btn-ico {
        background-color: transparent;
        color: $mfe-elal-second-color;
        font-size: 14x;
        border: none;
        padding: 0;
        display: inline-block;
    }
     .icon-cart {

  
    &:before
    {
       //float:#{$right};
       // padding-top: 20px;
        //font-size: 40px;
        position: relative;
       //#{$left}: 32px;
    }  }

    .icon-text{
        text-align: center;
        font-weight: bold;
        @media screen and (max-width: $screen-sm-max)
        {
            font-size:12px;

        }
    }
    section.lobby-voucher-slider .voucher-title-wrapper .icon-wrapper .wrapper-basket
{
    left:57px;
        //top:36px !important;
}
    section.lobby-voucher-slider .voucher-title-wrapper h1{
        font-size:45px;
    }
    section.lobby-voucher-slider .voucher-title-wrapper .icon-wrapper
    {
      //  margin-#{$right}:40px;
    }
    .send-modal
    {
        .modal-dialog{
            width:360px;
        }
    }
    .payment-container{
        //width:30%;
    }


}

.basket-ico {
    background-image: url('../images/shopping_cart.png');
    height: 54px;
    background-repeat: no-repeat;
}

.panel-cupons {

    @media screen and (max-width: $screen-sm-max) {

        /*background-color: #e6e6e8;*/
    }
}

.cupons-mobile {

    div {
        @media screen and (max-width: $screen-sm-max) {
            background-color: #e6e6e8;
        }
    }
}

.cupons-row {
    border-bottom: 3px solid #f2f2f2;
    padding:20px 5px;
    @media screen and (max-width: $screen-sm-max)
    {
        [class*="col-"]
        {
            min-height:40px;
        }
    }
    .terms-link{
         
        display:inline-block;
        width:90px;
        text-decoration: underline;
        position: relative;
        #{$left}: 35px;
        color:$mfe-elal-second-color;
         @media screen and (max-width: $screen-sm-max)
         {
             width:auto;
         }
    
    }
   
    div > div {
        @media screen and (max-width: $screen-sm-max) {
           // padding: 10px 10px 0 0;
        }

      //  padding: 20px 5px;
     //   word-break: break-all;
    }

    .read-more-link {
        text-align: #{$right};
        cursor: pointer;
    }
}

.title-row {
    background-color: $mfe-elal-second-color;
    color: #fff;
    border-radius: 4px;
   padding-top: 2px;
    //padding-bottom: 32px;
    min-height:29px;
    div{
        font-weight:bold;
        letter-spacing: -0.2px;
        padding: 5px 3px;
    }

     .glyphicon-triangle-bottom{
         color:#fff;
         display:inline;
         font-size:9px;
         padding-#{$left}: 5px;
     }
    @media screen and (max-width: 992px) {
        display: none;
    }
}

.coupons-remark{
    padding-top:20px;
    font-size:12px;
    font-weight: bold;
}

.coupons-modal {
    width: 600px;
    color: #00013a;
    margin-bottom: 100px;

    .heading-section{
        padding:15px;
        .logo{
            float: #{$left};
        }
        .issue-date{
            float: #{$right};
        }
    }

    .data {
        font-weight: bold;
        font-size: 16px;
    }

    .member-section {
        display: table;
        width: 100%;
        table-layout: fixed;
        padding: 15px 20px;
        background-color: #eeeeee;

        .reference, .member-details, .barcode {
            display: table-cell;
            vertical-align: middle;
            padding: 0 10px;
        }

        .reference {
            width: 20%;
            border-#{$right}: 1px solid #cccccc;
        }

        .barcode {
            width: 40%;
            text-align: #{$right};
        }
    }

    .coupon-section {
        width: 100%;
        position: relative;
        display: table;

        .coupon-details {
            /*float: #{$left};*/
            width: 65%;
            display: table-cell;
            vertical-align: top;
            position: relative;
            padding: 15px;

            &:after {
                content: "";
                position: absolute;
                top: 25px;
                #{$right}: -10px;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 10px 10px 10px 0;
                border-color: transparent #ffffff transparent transparent;
            }

            .coupon-values {
                display: table;
                position: absolute;
                /*width: 65%;*/
                bottom: 0;
                table-layout: fixed;
                padding: 15px;
                #{$right}: 0;

                .validity,
                .coupon-points,
                .coupon-value {
                    display: table-cell;
                }

                .coupon-points {
                    text-align: #{$right};
                    padding: 0 10px;
                    border-#{$right}: 1px solid #b6b6b6;
                }

                .coupon-value {
                    padding: 0 10px;
                }

                .validity {
                    width: 48%;
                }
            }
        }

        .coupon-img {
            /*float: #{$right};*/
            display: table-cell;
            width: 35%;

            img {
                width: 100%;
            }
        }
    }

    .instruction-section {
        background-color: #eeeeee;
        display: table;
        padding: 20px;

        .conditions {
            display: table-cell;
            vertical-align: middle;
            width: 60%;
            padding: 10px;
        }

        .map {
            display: table-cell;
            vertical-align: middle;
            width: 40%;
            padding: 10px;
            text-align: #{$right};
        }
    }

    .bottom-section {
        background-color: #eeeeee;
        padding: 20px;

        .btn {
            float: #{$left};
            color: #fff;
            font-size: 18px;
            background-color: #02013b;
            height: 45px;
            padding-left: 20px;
            padding-right: 20px;

            .text {
                padding-#{$left}: 10px;
            }
        }

        .address {
            float: #{$right};
        }
    }
}

.coupon-disabled
{
    color:#777;

    .details-icons{
        button{
            display: none;
        }
    }
    .details-icons button, .details-icons a
    {
        display: none;
    }
}
.print-note
{
    position: relative;
    top:10px;
    font-size:14px;
}

 @media screen and (min-width: $screen-md-min)
 {
.name{
    width:12%;
}

.coupon-name
{
    width:16%;
}

.conf{
    width:10%;
}

.id{
    width:13%;
}

.coupon-date{
    width:8%;
}

.points{
    width:8%;
}

.payment{
    width:15%;
}


.expiar{
    width:6%;
}

.payment-sum{
    width:21%;
    display: inline-block;
}

.details-icons{
    width:68%;
    //float:$right;
    display: inline-block;

}
 }

.cpn-icon{
    #{$left}: 50px !important;
    top: 36px !important;
}
.cpn-icon-ltr{
   right: -8px !important;
    top: 36px !important;
    left:auto !important;
}

.check-wrapper
{
    float:#{$left};
    width:14.5%;

    @media screen and (max-width: $screen-md-max){
        width:100%;
        float:none;
    }
}

